.about-me-text {
  font: var(--primary-font-family);
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

.about-me-expertise {
  font: var(--primary-font-family);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(108, 119, 138, 1);
}

.about-me-title {
  font: var(--primary-font-family);
  display: inline-block;
  margin-top: 16px;
  font-size: 28px;
  line-height: 32px;
  color: rgba(18, 20, 23, 1);
}

.arrow-down-right{
  display: inline-block;
  margin-left: 10px;
}

.photo{
  border-radius: 15px;
  margin-top: 16px;
}

.photo:last-child {
  margin-right: 0;
}