.container-about-me {
  @media (width >= 768px) and (width < 1440px) {
    padding: 0 32px;
  }
  @media (width >= 1440px) {
    padding: 0 80px;
    display: flex;
    flex-direction: row;
  }
}

.column-reversed {
  @media (width >= 1440px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.about-me-text {
  font: var(--primary-font-family);
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;

  @media (width >= 768px) and (width < 1440px) {
    margin-top: 32px;
    font-size: 18px;
    line-height: 26px;
  }

  @media (width >= 1440px) {
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (width >= 1440px) {
  .about-me-text.paragraph {
    margin-top: 14px;
  }

  .photo.paragraph {
    margin-top: 40px;
  }
}


.about-me-expertise {
  font: var(--primary-font-family);
  font-size: 12px;
  line-height: 16px;
  @media (width >= 768px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (width >= 1440px) {
    padding-top: 60px;
  }
  letter-spacing: 0.02em;
  color: var(--section-name-color);
}

.about-me-title {
  font: var(--primary-font-family);
  display: inline-block;
  margin-top: 16px;
  font-size: 28px;
  line-height: 32px;
  @media (width >= 768px) and (width < 1440px) {
    font-size: 50px;
    line-height: 55px;
  }
  @media (width >= 1440px) {
    font-size: 90px;
    line-height: 90px;
  }
  color: var(--primary-text-color-dark);
}

.arrow-down-right {
  display: inline-block;
}


.arrow-down-right svg {
  @media (min-width <= 375) {
    margin-left: 10px;
    margin-bottom: 22px;
  }
  @media (width >= 768px) and (width < 1440px) {
    width: 38px;
    height: 38px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  @media (width >= 1440px) {
    width: 38px;
    height: 38px;
    margin-left: 18px;
    margin-bottom: 35px;
  }
}

.photo {
  border-radius: 15px;
  margin-top: 16px;
  @media (width >= 768px) and (width < 1440px) {
    margin-top: 32px;
  }
}

.photo:last-child {
  margin-bottom: 0;
}

.desktop-column-first {
  @media (width >= 1440px) {
    margin-top: 60px;
    margin-left: 120px;
    width: 540px;
  }
}

.desktop-column-second {
  @media (width >= 1440px) {
    margin-bottom: 137px;
    margin-left: 40px;
    width: 472px;
  }
}