.loader-container {
  z-index: 1010;
}

.loader-title {
  margin-bottom: 0;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loader {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: var(--button-dark);
  box-shadow: 32px 0 var(--button-dark), -32px 0 var(--button-dark);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: var(--header-bg);
    box-shadow: 32px 0 var(--header-bg), -32px 0 var(--button-dark);
  }
  50% {
    background-color: var(--button-dark);
    box-shadow: 32px 0 var(--header-bg), -32px 0 var(--header-bg);
  }
  100% {
    background-color: var(--header-bg);
    box-shadow: 32px 0 var(--button-dark), -32px 0 var(--header-bg);
  }
}
