
.modal-container {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: var(--background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-time) var(--transition-effect),
    visibility var(--transition-time) var(--transition-effect);
}

.modal-container.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition-time), visibility 0s var(--transition-effect);
}

.body-overflow{
  overflow: hidden
}

.modal {
  top: 50%;
  left: 50%; 
  font-family: var(--primary-font-family);
  text-align: center;
  z-index: 100;
  width: 343px;
  position: fixed;
  padding: 64px 32px;
  gap: 60px;
  border: none;
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  transform: translate(-50%, -50%);

  @media (768px <=width) {
      width: 615px;
      padding: 80px;
    }
} 

.modal-error{
  
  @media (768px <=width){
  padding: 64px 53px;
  }
}

.modal-title{
  color: var(--primary-text-color-dark);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 14px;
  @media (768px <=width) {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 32px;
    }
}

.modal-text{ 
  color: var(--secondary-text-color-dark);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  @media (768px <=width) {
      font-size: 16px;
      line-height: 24px;
    }
}


.modal-close {
  position: absolute;
  padding: 2px;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;  
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  color: var(--primary-text-color-dark); 
  @media (768px <=width){
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 14px;
  @media (768px <=width) {
      gap: 18px;
    }
  
}

.hidden-icons{
display: none;
}

.icon-circle{
  background-color: var(--lang-switch-container-dark);
border-radius: 50%;
transform-box: fill-box;
  transform-origin: center center;
  transform: scale(1);
}

.icon{
  display: block;
  width: 32px;
  height: 32px;
  @media (768px <=width) {
      width: 40px;
      height: 40px;
    }
}
.icon-svg{
  padding: 7px;
  width: 32px;
  height: 32px;
  border: 2px;
  border-color: var(--lang-switch-container-dark);
  border-radius: 50%;
  background-color: var(--lang-switch-container-dark);
  fill: var(--lang-switch-container-dark);
  @media (768px <=width) {
      width: 40px;
      height: 40px;
      padding: 11px;
      
    }
}

.instagram-ref{
  padding: 9px;
  @media (768px <=width) {
      padding: 13px;
    }
}

.icon-svg-instagram{
  width: 18px;
    height: 18px;
    transform-box: fill-box;
      transform-origin: center center;
      transform: scale(1.3);
}


.icon-close{
  width: 18px;
  height: 18px;
  transform-box: fill-box;
    transform-origin: center center;
  transform: scale(1.12);
  @media (768px <=width) {
      width: 28px;
      height: 28px;
    }
  
}

