.team-modal-container{
  position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: var(--background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-time) var(--transition-effect),
      visibility var(--transition-time) var(--transition-effect);
}

.team-modal-container.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition-time), visibility 0s var(--transition-effect);
}

.team-modal{
  top: 50%;
    left: 50%;
    font-family: var(--primary-font-family);
    text-align: center;
    z-index: 100;
    width: 343px;
    max-height: 800px;
    position: fixed;
    padding: 24px;
    gap: 60px;
    border: none;
    border-radius: 15px;
    background-color: var(--white-color);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    transform: translate(-50%, -50%);
    
      
    @media (768px <=width) {
        width: 736px;
        padding: 50px;
        max-height: 520px;
      }
     @media (width >=1440px) {
               width: 1342px;
              padding: 80px 50px;
              max-height: 700px;
      }
}

.team-modal-close{
  position: absolute;
    padding: 2px;
    top: 16px;
    right: 16px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: var(--primary-text-color-dark);
  
    @media (768px <=width) {
      top: 20px;
      right: 20px;
      width: 28px;
      height: 28px;
    }
}
.team-modal-title{
  text-align: left;
  color: var(--primary-text-color-dark);
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (768px <=width) {
        margin-bottom: 60px;
        font-size:40px;
        line-height: 48px;
      }
}
.team-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 650px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* scrollbar-gutter: stable both-edges; */
    @media (768px <=width) {
        height: 300px;
      }
}
.team-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 10px;
}
/* .team-list::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 10px;
}
.team-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px !important;
} */

.team-list::-webkit-scrollbar:horizontal {
  height: 13px;
}

.team-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background-color: var(--scrollbar-thumb-bg);
}

.member-card{
  display: flex;
}
.member-pictures{
  position: relative;
  height: 40px;
  margin-top: 4px;
  @media (768px <=width) {
      width: 80px;
      height: 80px;
      margin: 0;
    }
}
/* .member-picture{
  display: block;
  height: 40px;
  @media (768px <=width) {
      width: 80px;
      height: 80px;
    }
} */
.linkedin-href{
  position: absolute;
  right: 0;
  bottom: 0;
}
.linkedin-pic{
  border-radius: 4px;
}
.member-photo{
  display: block;
  border-radius: 50%;
  @media (768px <=width) {
      width: 100%;
    }
  
}

.member-discr{
  font-family: var(--primary-font-family) ;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
  padding-left: 16px;
  min-width: 202px;
  @media (768px <=width) {
      font-size: 18px;
        line-height: 28px;
        padding: 12px 0 12px 16px;
    }
}
.member-name{
  color: var(--secondary-text-color-dark);
}
.member-position{
  color: var(--inactive-lang-text);
}