<section id="about-me" class="section">
  <div class="container">
    <div class="container-about-me">
      <div>
        <span class="about-me-expertise" data-lang="about.expertise">ЕКСПЕРТНІСТЬ</span>
      </div>
      <div class="desktop-column-first">
        <div>
          <h2 class="about-me-title" data-lang="about.title">ПРО МЕНЕ</h2>
          <div class="arrow-down-right">
            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/icons-sprite.svg#arrow-down-right"/>
            </svg>
          </div>
        </div>
        <p class="about-me-text" data-lang="about.firstParagraph">
          Завжди вважав, що моє хобі може стати професією. Усе почалося в дитинстві, коли у десять років я зібрав свою
          першу
          колекцію та мріяв про кар’єру археолога. Ця мрія стала реальністю у 2009 році, коли я вступив на історичний
          факультет Київського національного університету імені Тараса Шевченка та навчався на кафедрі археології та
          музеєзнавства.
        </p>
        <p class="about-me-text paragraph" data-lang="about.secondParagraph">
          Під час навчання я також здобув практичні навички у міжнародній бізнес-спільності, що дозволило мені розпочати
          свою підприємницьку діяльність.У 2013 році я став співвласником компанії «Монітекс», що
          спеціалізується на нумізматиці, боністиці, фалеристиці та інших суміжних напрямках.
        </p>
        <div class="photo paragraph">
          <picture>
            <source srcset="./images/about-me/mysterious/mysterious-540.webp 540w"
                    media="(min-width: 1440px)"
                    sizes="540px"
                    type="image/webp"
            >
            <source srcset="./images/about-me/mysterious/mysterious-540.jpg 540w"
                    media="(min-width: 1440px)"
                    sizes="540px"
                    type="image/jpg"
            >
            <source srcset="./images/about-me/mysterious/mysterious-704.webp 704w"
                    media="(min-width: 768px)"
                    sizes="704px"
                    type="image/webp"
            >
            <source srcset="./images/about-me/mysterious/mysterious-704.jpg 704w"
                    media="(min-width: 768px)"
                    sizes="704px"
                    type="image/jpg"
            >
            <img
              src="./images/about-me/mysterious/mysterious-343.jpg"
              alt="Ivan Prudco"
              width="343"
              height="320"
            />
          </picture>
        </div>
      </div>
      <div class="desktop-column-second column-reversed">
        <div>
          <p class="about-me-text" data-lang="about.thirdParagraph">
            Ми допомагаємо нашим клієнтам створювати та поповнювати їхні колекції, оцінюємо старовинні предмети та
            визначаємо
            їхню ідентичність, пропонуємо найбільший асортимент колекційних товарів в Україні. Ми прагнемо розвивати
            культуру
            колекціонування в нашій країні, вносячи свій вклад у збереження та поширення цієї традиції.
          </p>
          <p class="about-me-text paragraph" data-lang="about.fourthParagraph">
            Крім того, я є резидентом клубу підприємців PRIZMA CLUB, де разом із колегами обговорюємо новітні тенденції
            у
            бізнесі та культурі, ділимося досвідом та шукаємо нові можливості для розвитку в Україні.
          </p>
        </div>
        <div class="photo">
          <picture>
            <source srcset="./images/about-me/funny/funny-472.webp 472w"
                    media="(min-width: 1440px)"
                    sizes="472px"
                    type="image/webp"
            >
            <source srcset="./images/about-me/funny/funny-472.jpg 472w"
                    media="(min-width: 1440px)"
                    sizes="472px"
                    type="image/jpg"
            >
            <source srcset="./images/about-me/funny/funny-704.webp 704w"
                    media="(min-width: 768px)"
                    sizes="704px"
                    type="image/webp"
            >
            <source srcset="./images/about-me/funny/funny-704.jpg 704w"
                    media="(min-width: 768px)"
                    sizes="704px"
                    type="image/jpg"
            >
            <img
              src="./images/about-me/funny/funny-343.jpg"
              alt="Ivan Prudco"
              width="343"
              height="320"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>