<section id="about-me" class="section">
  <div class="container">
    <span class="about-me-expertise">експертність</span>
    <div>
      <h2 class="about-me-title">Про мене</h2>
      <div class="arrow-down-right">
        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">

          <use xlink:href="../public/images/icons-sprite.svg#arrow-down-right" />
        </svg>
      </div>
    </div>
    <p class="about-me-text">
      Завжди вважав, що моє хобі може стати професією. Усе почалося в дитинстві, коли у десять років я зібрав свою
      першу
      колекцію та мріяв про кар’єру археолога. Ця мрія стала реальністю у 2009 році, коли я вступив на історичний
      факультет Київського національного університету імені Тараса Шевченка та навчався на кафедрі археології та
      музеєзнавства.
    </p>
    <p class="about-me-text">
      Під час навчання я також здобув практичні навички у міжнародній бізнес-спільності, що дозволило мені розпочати
      свою підприємницьку діяльність.У 2013 році я став співвласником компанії «Монітекс», що спеціалізується на
      нумізматиці, боністиці, фалеристиці та інших суміжних напрямках.
    </p>
    <div class="photo">
      <picture>
<!--        <source-->
<!--          srcset="../images/about-me/mobile/musterious-mobile.webp"-->
<!--          type="image/webp"-->
<!--        />-->
<!--        <source srcset="../images/about-me/mobile/musterious-mobile.png" type="image/png" />-->
        <img
          src="../images/about-me/mobile/mysterious-mobile.png"
          alt="photo desc"
          width="343"
          height="320"
        />
      </picture>
    </div>
    <p class="about-me-text">
      Ми допомагаємо нашим клієнтам створювати та поповнювати їхні колекції, оцінюємо старовинні предмети та
      визначаємо
      їхню ідентичність, пропонуємо найбільший асортимент колекційних товарів в Україні. Ми прагнемо розвивати
      культуру
      колекціонування в нашій країні, вносячи свій вклад у збереження та поширення цієї традиції.
    </p>
    <p class="about-me-text">
      Крім того, я є резидентом клубу підприємців PRIZMA CLUB, де разом із колегами обговорюємо новітні тенденції у
      бізнесі та культурі, ділимося досвідом та шукаємо нові можливості для розвитку в Україні.
    </p>
    <div class="photo">
      <picture>

        <!--      <source-->
        <!--        srcset="./images/hero/photo.webp 1x, ./images/hero/photo@2x.webp 2x"-->
        <!--        type="image/webp"-->
        <!--      />-->
        <source srcset="../images/about-me/mobile/funny-mobile.png" type="image/png" />
        <img
          src="../images/about-me/mobile/funny-mobile.png"
          alt="photo desc"
          width="343"
          height="320"
        />
      </picture>
    </div>
  </div>
</section>