<section id="areas-of-expertise" class="section">
  <div class="container">
    <div class="content">
      <span class="content-category">КАТЕГОРІЇ</span>
      <div class="content-title">
        <h2 class="content-title-text">НАПРЯМКИ ЕКСПЕРТИЗИ</h2>
      </div>
      <p class="content-text">
        Компанія «Монітекс» була заснована в 2013 році і з того часу здобула довіру багатьох постійних клієнтів. У нас
        працюють експерти з унікальними знаннями та багаторічним досвідом.
      </p>
    </div>
    <div class="areas-box">
      <div class="numismatic">
        <img class="numismatic-image" src="./images/areas-of-expertise/numismat-100.svg" alt="numismatic-image" />
        <h3 class="numismatic-title">Нумізматика</h3>
        <p class="numismatic-content">
          Консультую клієнтів щодо купівлі та продажу монет, допомагаю визначити їх оригінальність.
        </p>
      </div>
      <div class="bonistic">
        <img class="bonistic-image" src="./images/areas-of-expertise/bonistic-100.svg" alt="bonistic-image" />
        <h3 class="bonistic-title">Боністика</h3>
        <p class="bonistic-content">
          Оцінюю старовинні та сучасні банкноти, розповідаю про можливості інвестування в паперові гроші. Ділюся
          знаннями
          як розрізняти унікальні екземпляри.
        </p>
      </div>
      <div class="faleristic">
        <img class="faleristic-image" src="./images/areas-of-expertise/faleristic-80.svg" alt="faleristic-image" />
        <h3 class="faleristic-title">Фалеристика</h3>
        <p class="faleristic-content">
          Визначаю оригінальність медалей та нагород, які мають не тільки матеріальну, але й історичну цінність.
          Консультую з питань купівлі та продажу таких предметів.
        </p>
      </div>
    </div>
  </div>
</section>