<section id="areas-of-expertise" class="section">
  <div class="container">
    <div class="content">
      <span class="content-category" data-lang="areas.category">КАТЕГОРІЇ</span>
      <div class="content-title">
        <h2 class="content-title-text" data-lang="areas.title">НАПРЯМКИ ЕКСПЕРТИЗИ</h2>
      </div>
      <p class="content-text" data-lang="areas.content">
        Компанія «Монітекс» була заснована в 2013 році і з того часу здобула довіру багатьох постійних клієнтів. У нас
        працюють експерти з унікальними знаннями та багаторічним досвідом.
      </p>
    </div>
    <div class="areas-box">
      <div class="numismatic">
        <img loading="lazy" class="numismatic-image"
             src="./images/areas-of-expertise/numismat-100.svg"
             alt="numismatic-image"
             width="100"
             height="100"
        />
        <h3 class="numismatic-title" data-lang="areas.numismaticTitle">Нумізматика</h3>
        <p class="numismatic-content" data-lang="areas.numismaticContent">
          Консультую клієнтів щодо купівлі та продажу монет, допомагаю визначити їх оригінальність.
        </p>
      </div>
      <div class="bonistic">
        <img loading="lazy" class="bonistic-image"
             src="./images/areas-of-expertise/bonistic-100.svg"
             alt="bonistic-image"
             width="100"
             height="76"
        />
        <h3 class="bonistic-title" data-lang="areas.bonisticTitle">Боністика</h3>
        <p class="bonistic-content" data-lang="areas.bonisticContent">
          Оцінюю старовинні та сучасні банкноти, розповідаю про можливості інвестування в паперові гроші. Ділюся
          знаннями
          як розрізняти унікальні екземпляри.
        </p>
      </div>
      <div class="faleristic">
        <img loading="lazy" class="faleristic-image"
             src="./images/areas-of-expertise/faleristic-80.svg"
             alt="faleristic-image"
             width="80"
             height="94"
        />
        <h3 class="faleristic-title" data-lang="areas.faleristicTitle">Фалеристика</h3>
        <p class="faleristic-content" data-lang="areas.faleristicContent">
          Визначаю оригінальність медалей та нагород, які мають не тільки матеріальну, але й історичну цінність.
          Консультую з питань купівлі та продажу таких предметів.
        </p>
      </div>
    </div>
  </div>
</section>