<section id="faq" class="section">
  <div class="container">
    <div class="faq-info">
      <span class="faq-info-intro" data-lang="faq.title">Відповіді</span>
      <h2 class="faq-info-title">faq</h2>
      <p class="faq-info-text" data-lang="faq.subTitle">
        Компанія «Монітекс» була заснована в 2013 році і з того часу здобула
        довіру багатьох постійних клієнтів. У нас працюють експерти з
        унікальними знаннями та багаторічним досвідом.
      </p>
    </div>
    <div class="faq-container-for-desktop">
      <div class="">
        <div class="faq-img-container">
          <picture class="faq-img">
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/faq/ivan_prudko.webp    1x,
                ./images/faq/ivan_prudko@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                ./images/faq/ivan_prudko.png    1x,
                ./images/faq/ivan_prudko@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px) and (max-width: 1439.98px)"
              srcset="
                ./images/faq/ivan_prudko_tablet.webp    1x,
                ./images/faq/ivan_prudko_tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px) and (max-width: 1439.98px)"
              srcset="
                ./images/faq/ivan_prudko_tablet.png    1x,
                ./images/faq/ivan_prudko_tablet@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/faq/ivan_prudko_desk.webp    1x,
                ./images/faq/ivan_prudko_desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/faq/ivan_prudko_desk.png    1x,
                ./images/faq/ivan_prudko_desk@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="faq-img-size"
              src="./images/faq/ivan_prudko.png"
              alt="Ivan Prudko"
              width="174"
              height="200"
            />
          </picture>
        </div>
        <div class="faq-img-info">
          <h3 class="faq-img-info-title" data-lang="faq.autor-name">
            Іван Прудько
          </h3>
          <p class="faq-img-info-text" data-lang="faq.autor-info">
            Співзасновник та експерт компанії «Монітекс» - інтернет-магазину №1
            для колекціонерів в Україні.
          </p>
        </div>
      </div>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-list-item-container">
            <h3 class="faq-list-item-title" data-lang="faq.question-1">
              Що таке нумізматика?
            </h3>
            <div class="faq-list-item-svg"></div>
          </div>
          <div class="faq-answer-wrapper">
            <div class="faq-answer-item-wrapper">
              <p class="faq-list-item-answer" data-lang="faq.answer-1">
                Нумізматика – це спеціальна історична дисципліна, що вивчає
                монети як джерело історичних, економічних, політичних і
                культурних знань, а також історію грошового обігу та монетного
                виробництва, процеси фальшування монет та банкнот. Також слово
                нумізматика використовується на позначення різновиду
                колекціонування.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-list-item-container">
            <h3 class="faq-list-item-title" data-lang="faq.question-2">
              Як почати колекціонувати монети?
            </h3>
            <div class="faq-list-item-svg"></div>
          </div>
          <div class="faq-answer-wrapper">
            <div class="faq-answer-item-wrapper">
              <p class="faq-list-item-answer" data-lang="faq.answer-2">
                Для початку збирання монетних колекцій рекомендую визначити
                інтереси у певних типах монет або історичних періодах,
                встановити бюджет та консультуватися з експертами для кращого
                розуміння ринку.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-list-item-container">
            <h3 class="faq-list-item-title" data-lang="faq.question-3">
              Де купувати колекційні предмети?
            </h3>
            <div class="faq-list-item-svg"></div>
          </div>
          <div class="faq-answer-wrapper">
            <div class="faq-answer-item-wrapper">
              <p class="faq-list-item-answer" data-lang="faq.answer-3">
                На сайті monitex.com.ua запропонована виключно оригінальна
                продукція, яка перевірена експертами з більш, ніж 10-річним
                практичним досвідом та унікальними знаннями.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-list-item-container">
            <h3 class="faq-list-item-title" data-lang="faq.question-4">
              Чому консультуватися та купувати саме у нас?
            </h3>
            <div class="faq-list-item-svg"></div>
          </div>
          <div class="faq-answer-wrapper">
            <div class="faq-answer-item-wrapper">
              <p class="faq-list-item-answer" data-lang="faq.answer-4">
                Тому що я маю унікальні знання, які отримав разом з вищою
                освітою на історичному факультеті та щоденним практичним
                досвідом з 2013 року.
              </p>
            </div>
          </div>
        </li>
        <li>
          <a href="./faq-full.html" class="faq-link" data-lang="faq.btn"
            >Показати більше</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
