<footer id="footer" class="footer">
  <div class="container">
    <div class="container-footer">
      <!-- logo -->
      <div class="container-logo">
        <a class="logo" href="../index.html">Ivan Prudko</a>
      </div>

      <div class="container-info">
        <!-- location -->
        <div class="container-location">
          <p class="location-description">Розташування:</p>
          <p class="address">
            м Київ, вул. Богдана Хмельницького 3, поверх 2 (вхід з вулиці)
          </p>
        </div>
        <!-- website -->
        <div class="container-website">
          <p class="website-description">Сайт:</p>
          <a class="website" href="">monitex.com.ua</a>
        </div>
      </div>

      <!-- social -->
      <div class="container-footer-social">
        <!-- Social company-->
        <div>
          <p class="text-social-media">Соціальні мережі компанії:</p>
          <ul class="list-social">
            <li class="social-icon-item">
              <a class="social-icon-link" href="">
                <svg class="icon-social" width="14.5" height="14.5">
                  <use
                    href="../public/images/icons-sprite.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-icon-item">
              <a class="social-icon-link" href="">
                <svg class="icon-social" width="14.5" height="14.5">
                  <use
                    href="../public/images/icons-sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-icon-item">
              <a class="social-icon-link" href="">
                <svg class="icon-social" width="14.5" height="14.5">
                  <use
                    href="../public/images/icons-sprite.svg#icon-tiktok"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- Social expert-->
        <div>
          <p class="text-social-media">Соціальні мережі експерта:</p>
          <ul class="list-social">
            <li class="social-icon-item">
              <a class="social-icon-link" href="">
                <svg class="icon-social" width="14.5" height="14.5">
                  <use
                    href="../public/images/icons-sprite.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-icon-item">
              <a class="social-icon-link" href="">
                <svg class="icon-social" width="14.5" height="14.5">
                  <use
                    href="../public/images/icons-sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- GO IT -->
      <ul class="student-developed-list">
        <li>
          <h3 class="developed-title">Розроблено студентами</h3>
        </li>
        <li>
          <a class="icon-goit-link" href="">
            <svg class="icon-goit" width="72" height="21">
              <use href="../public/images/footer/goit.svg#icon-goit"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
