<footer id="footer" class="footer">
  <div class="container">
    <div class="wrapper-container-footer">
      <div class="container-info">
        <!-- logo -->
        <a class="logo-footer" href="/numismatics-project">Ivan Prudko</a>

        <!-- location -->
        <div class="container-location">
          <p class="location-description" data-lang="footer.location">
            Розташування:
          </p>
          <address class="address">
            <a href="https://www.google.com/maps/search/?api=1&query=вул. Богдана Хмельницького 3, Київ, Україна"
              target="_blank" data-lang="footer.address">м. Київ, вул. Богдана Хмельницького 3, поверх 2 (вхід з
              вулиці)</a>
          </address>
        </div>

        <!-- website -->
        <div class="container-website">
          <p class="website-description" data-lang="footer.website">Сайт:</p>
          <a class="website" href="http://monitex.com.ua" target="_blank">monitex.com.ua</a>
        </div>

        <!-- social -->
        <div class="container-footer-social">
          <!-- Social company-->
          <div class="container-social-company">
            <p class="text-social-media" data-lang="footer.socialCompany">
              Соціальні мережі компанії:
            </p>
            <ul class="list-social">
              <li class="social-icon-item">
                <a class="social-icon-link" href="https://t.me/lvanPrudko" target="_blank"
                  aria-label="link-telegram-Ivan-Prudko">
                  <svg class="icon-social" width="14.5" height="14.5">
                    <use href="/images/icons-sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-icon-item">
                <a class="social-icon-link" href="https://www.instagram.com/monitex_inc/" target="_blank"
                  aria-label="link-instagram-Ivan-Prudko">
                  <svg class="icon-social" width="14.5" height="14.5">
                    <use href="/images/icons-sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-icon-item">
                <a class="social-icon-link" href="https://www.tiktok.com/@monitex_inc" target="_blank"
                  aria-label="link-tikTok-Ivan-Prudko">
                  <svg class="icon-social" width="14.5" height="14.5">
                    <use href="/images/icons-sprite.svg#icon-tiktok"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <!-- Social expert-->
          <div class="container-social-expert">
            <p class="text-social-media" data-lang="footer.socialExpert">
              Соціальні мережі експерта:
            </p>
            <ul class="list-social">
              <li class="social-icon-item">
                <a class="social-icon-link" href="https://t.me/lvanPrudko" target="_blank"
                  aria-label="link-telegram-Ivan-Prudko">
                  <svg class="icon-social" width="14.5" height="14.5">
                    <use href="/images/icons-sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-icon-item">
                <a class="social-icon-link" href="https://www.instagram.com/prudkoivan/" target="_blank"
                  aria-label="link-instagram-Ivan-Prudko">
                  <svg class="icon-social" width="14.5" height="14.5">
                    <use href="/images/icons-sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- GO IT -->
      <ul class="student-developed-list">
        <li>
          <h3 class="developed-title" data-lang="footer.title">
            Розроблено студентами
          </h3>
        </li>
        <li class="icon-goit-link">
          <svg class="icon-goit" width="72" height="21">
            <use href="/images/footer/goit.svg#icon-goit"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</footer>