<footer id="footer" class="footer">
  <div class="container">
    <div class="container-footer">
      <div class="container-logo">
        <a class="logo" href="../index.html">Ivan Prudko</a>
      </div>
      <p class="location-description">Розташування:</p>
      <p class="address">
        м Київ, вул. Богдана Хмельницького 3, поверх 2 (вхід з вулиці)
      </p>
      <p class="website-description">Сайт:</p>
      <p class="website">monitex.com.ua</p>
      <!-- Social -->
      <div>
        <p class="social-media">Соціальні мережі компанії:</p>
        <ul class="list-social-icon">
          <li class="social-icon-item">
            <a class="social-icon-link" href="">
              <svg class="icon-social" width="14.5" height="14.5">
                <use
                  href="../public/images/icons-sprite.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-icon-item">
            <a class="social-icon-link" href="">
              <svg class="icon-social" width="14.5" height="14.5">
                <use
                  href="../public/images/icons-sprite.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-icon-item">
            <a class="social-icon-link" href="">
              <svg class="icon-social" width="14.5" height="14.5">
                <use href="../public/images/icons-sprite.svg#icon-tiktok"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="social-media">Соціальні мережі експерта:</p>
        <ul>
          <li class="social-icon-item">
            <a class="social-icon-link" href="">
              <svg class="icon-social" width="14.5" height="14.5">
                <use
                  href="../public/images/icons-sprite.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-icon-item">
            <a class="social-icon-link" href="">
              <svg class="icon-social" width="14.5" height="14.5">
                <use
                  href="../public/images/icons-sprite.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
