<form class="modal-form js-modal-form">
  <div class="modal-input-wrapper">
    <input
      class="modal-input"
      type="text"
      name="name"
      placeholder="Ваше ім’я"
    />
    <p class="modal-input-error">Обов'язкове поле</p>
  </div>
  <div class="modal-input-wrapper show-prefix">
    <label class="modal-lable-name js-modal-label-name" for="form-name"
      >+38</label
    >
    <input
      class="modal-input modal-input-name"
      type="text"
      name="phone"
      id="form-name"
      placeholder="Номер телефону"
    />
    <p class="modal-input-error">Обов'язкове поле</p>
  </div>
  <div class="modal-input-wrapper">
    <div class="modal-select js-modal-select">
      <button
        class="modal-select-button modal-input js-select-button"
        data-selected="false"
        type="button"
        name="services"
      >
        <span id="modal-services">Послуги</span>
        <svg class="modal-select-icon" width="20" height="20">
          <use href="./public/images/icons-sprite.svg#icon-chevron-down"></use>
        </svg>
      </button>
      <p class="modal-input-error">Обов'язкове поле</p>
      <ul class="modal-select-list js-modal-select-list">
        <li class="modal-select-item">Консультації з нумізматики</li>
        <li class="modal-select-item">Консультації з питань колекціонування</li>
        <li class="modal-select-item">Консультації з формування колекцій</li>
      </ul>
    </div>
  </div>
  <textarea
    class="modal-textarea modal-input"
    name="comment"
    placeholder="Коментар"
  ></textarea>
  <button class="modal-button" type="submit">Отримати консультацію</button>
</form>
