<header id="header" class="header">
  <div class="container">
    <div class="header-main-container">
      <a class="logo-link" href="">IVAN PRUDKO</a>
      <!--Section about me-->
      <div class="header-about-me-container">
        <ul class="header-about-me-container-list">
          <li class="header-about-me-container-item">
            <a class="header-about-me-container-item-link" href="#about-me"
              >Про мене</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a
              class="header-about-me-container-item-link"
              href="#areas-of-expertise"
              >Експертиза</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a class="header-about-me-container-item-link" href="#services"
              >Послуги</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a class="header-about-me-container-item-link" href="#faq">FAQ</a>
          </li>
          <li class="header-about-me-container-item">
            <a class="header-about-me-container-item-link" href="#reviews"
              >Відгуки клієнтів</a
            >
          </li>
        </ul>
      </div>
      <!--NAVIGATION-->
      <nav class="header-navigation">
        <ul class="header-navigation-list">
          <li class="header-navigation-item">
            <a
              class="header-navigation-item-link"
              href="https://t.me/lvanPrudko"
              target="_blank"
            >
              <svg
                class="header-navigation-item-link-svg-telegram"
                width="20"
                height="17"
              >
                <use href="/images/icons-sprite.svg#icon-VectorTelegram"></use>
              </svg>
            </a>
          </li>
          <li class="header-modal-wrapper-select-box-container-tablet">
            <div class="header-modal-selectlang-container">
              <p class="header-modal-wrapper-select-box-container-text">UA</p>
              <svg
                class="header-modal-wrapper-item-select-box-option-svg"
                width="16"
                height="8"
              >
                <use href="/images/icons-sprite.svg#icon-Vector"></use>
              </svg>
              <div
                class="header-modal-wrapper-select-box-checkbox visually-hidden"
              >
                <button
                  class="header-modal-selectlang-checkbox-text-ua"
                  data-btn="ua"
                >
                  UA
                </button>
                <button
                  class="header-modal-selectlang-checkbox-text-ua"
                  data-btn="en"
                >
                  EN
                </button>
              </div>
            </div>
          </li>
          <li class="header-navigation-item-burger">
            <svg
              class="header-navigation-item-link-svg-burger"
              width="27"
              height="18"
            >
              <use href="/images/icons-sprite.svg#icon-Burger"></use>
            </svg>
          </li>
        </ul>
      </nav>

      <!--MODAL WINDOW-->
      <div class="header-modal-wrapper visually-hidden">
        <div class="header-modal-wrapper-mobile-menu">
          <div class="header-modal-wrapper-container">
            <a
              class="header-modal-wrapper-item-link"
              href="https://t.me/lvanPrudko"
              target="_blank"
            >
              <svg class="header-modal-wrapper-item-svg" width="20" height="17">
                <use href="/images/icons-sprite.svg#icon-VectorTelegram"></use>
              </svg>
            </a>

            <div class="header-modal-wrapper-select-box-container">
              <p class="header-modal-wrapper-select-box-container-text">UA</p>
              <svg
                class="header-modal-wrapper-item-select-box-option-svg"
                width="16"
                height="8"
              >
                <use href="/images/icons-sprite.svg#icon-Vector"></use>
              </svg>
              <div class="header-modal-selectlang-checkbox visually-hidden">
                <button
                  class="header-modal-wrapper-select-box-checkbox-text-ua"
                  data-btn-modal="ua"
                >
                  UA
                </button>
                <button
                  class="header-modal-wrapper-select-box-checkbox-text-ua"
                  data-btn-modal="en"
                >
                  EN
                </button>
              </div>
            </div>

            <svg
              class="header-modal-wrapper-item-svg-icon"
              width="16"
              height="16"
            >
              <use href="/images/icons-sprite.svg#icon-Icon"></use>
            </svg>
          </div>
        </div>

        <!--LINKS-->

        <div class="header-modal-container">
          <ul class="header-modal-container-list">
            <li class="header-modal-container-item">
              <a class="header-modal-container-item-link" href="#about-me"
                >Про мене</a
              >
            </li>
            <li class="header-modal-container-item">
              <a
                class="header-modal-container-item-link"
                href="#areas-of-expertise"
                >Експертиза</a
              >
            </li>
            <li class="header-modal-container-item">
              <a class="header-modal-container-item-link" href="#services"
                >Послуги</a
              >
            </li>
            <li class="header-modal-container-item">
              <a class="header-modal-container-item-link" href="#faq">FAQ</a>
            </li>
            <li class="header-modal-container-item">
              <a class="header-modal-container-item-link" href="#reviews"
                >Відгуки клієнтів</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
