<header id="header" class="header">
  <div class="container">
    <div class="header-main-container">
      <a class="logo-link" href="">IVAN PRUDKO</a>
      <!--Section about me-->
      <div class="header-about-me-container">
        <ul class="header-about-me-container-list">
          <li class="header-about-me-container-item">
            <a
              data-lang="header.link-1"
              class="header-about-me-container-item-link"
              href="#about-me"
              >Про мене</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a
              data-lang="header.link-2"
              class="header-about-me-container-item-link"
              href="#areas-of-expertise"
              >Експертиза</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a
              data-lang="header.link-3"
              class="header-about-me-container-item-link"
              href="#services"
              >Послуги</a
            >
          </li>
          <li class="header-about-me-container-item">
            <a class="header-about-me-container-item-link" href="#faq">FAQ</a>
          </li>
          <li class="header-about-me-container-item">
            <a
              data-lang="header.link-4"
              class="header-about-me-container-item-link"
              href="#reviews"
              >Відгуки клієнтів</a
            >
          </li>
        </ul>
      </div>
      <!--NAVIGATION-->
      <nav class="header-navigation">
        <ul class="header-navigation-list">
          <li class="header-navigation-item">
            <a
              class="header-navigation-item-link"
              href="https://t.me/lvanPrudko"
              target="_blank"
              aria-label="link-telegram-Ivan-Prudko"
            >
              <svg
                class="header-navigation-item-link-svg-telegram"
                width="20"
                height="17"
              >
                <use href="/images/icons-sprite.svg#icon-VectorTelegram"></use>
              </svg>
            </a>
          </li>
          <li class="header-modal-wrapper-select-box-container-tablet">
            <div class="header-modal-selectlang-container">
              <p class="header-modal-wrapper-select-box-container-text">ua</p>
              <svg
                class="header-modal-wrapper-item-select-box-option-svg"
                width="16"
                height="8"
              >
                <use href="/images/icons-sprite.svg#icon-Vector"></use>
              </svg>
              <div
                id="langSelect"
                class="header-modal-wrapper-select-box-checkbox"
              >
                <button
                  class="header-modal-selectlang-checkbox-text-ua"
                  data-btn="ua"
                  value="ua"
                >
                  ua
                </button>
                <button
                  class="header-modal-selectlang-checkbox-text-ua"
                  data-btn="en"
                  value="en"
                >
                  en
                </button>
              </div>
            </div>
          </li>
        </ul>

        <span class="header-navigation-item-burger">
          <svg
            class="header-navigation-item-link-svg-burger"
            width="27"
            height="18"
          >
            <use href="/images/icons-sprite.svg#icon-Burger"></use>
          </svg>
        </span>
      </nav>

      <!--MODAL WINDOW-->
      <div class="header-modal-wrapper">
        <div class="header-modal-wrapper-mobile-menu">
          <div class="header-modal-wrapper-container">
            <a
              class="header-modal-wrapper-item-link"
              href="https://t.me/lvanPrudko"
              target="_blank"
              aria-label="link-telegram-Ivan-Prudko"
            >
              <svg class="header-modal-wrapper-item-svg" width="20" height="17">
                <use href="/images/icons-sprite.svg#icon-VectorTelegram"></use>
              </svg>
            </a>

            <div class="header-modal-wrapper-select-box-container">
              <p class="header-modal-wrapper-select-box-container-text-modal">
                ua
              </p>
              <svg
                class="header-modal-wrapper-item-select-box-option-svg"
                width="16"
                height="8"
              >
                <use href="/images/icons-sprite.svg#icon-Vector"></use>
              </svg>
              <div id="langSelect" class="header-modal-selectlang-checkbox">
                <button
                  class="header-modal-wrapper-select-box-checkbox-text-ua"
                  data-btn-modal="ua"
                  value="ua"
                >
                  ua
                </button>
                <button
                  class="header-modal-wrapper-select-box-checkbox-text-ua"
                  data-btn-modal="en"
                  value="en"
                >
                  en
                </button>
              </div>
            </div>

            <div class="header-modal-wrapper-item-svg-container">
              <svg
                class="header-modal-wrapper-item-svg-icon"
                width="16"
                height="16"
              >
                <use href="/images/icons-sprite.svg#icon-Icon"></use>
              </svg>
            </div>
          </div>
        </div>

        <!--LINKS-->

        <div class="header-modal-container">
          <ul class="header-modal-container-list">
            <li class="header-modal-container-item">
              <a
                data-lang="header.link-1"
                class="header-modal-container-item-link"
                href="#about-me"
                >Про мене</a
              >
            </li>
            <li class="header-modal-container-item">
              <a
                data-lang="header.link-2"
                class="header-modal-container-item-link"
                href="#areas-of-expertise"
                >Експертиза</a
              >
            </li>
            <li class="header-modal-container-item">
              <a
                data-lang="header.link-3"
                class="header-modal-container-item-link"
                href="#services"
                >Послуги</a
              >
            </li>
            <li class="header-modal-container-item">
              <a class="header-modal-container-item-link" href="#faq">FAQ</a>
            </li>
            <li class="header-modal-container-item">
              <a
                data-lang="header.link-4"
                class="header-modal-container-item-link"
                href="#reviews"
                >Відгуки клієнтів</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
