<section id="hero" class="section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <p class="hero-helper-text" data-lang="hero.helperText">
          Співзасновник та експерт компанії «Монітекс» - інтернет-магазину №1
          для колекціонерів в Україні.
        </p>
        <h2 class="hero-main-text" data-lang="hero.mainText">
          Експертна оцінка <br />
        </h2>
        <span class="hero-submain-text" data-lang="hero.submainText"
          >та консультації з нумізматики</span
        >
        <button type="button" class="hero-btn" data-lang="hero.btn">
          Отримати консультацію
        </button>
      </div>
    </div>
  </div>
</section>
