<section id="services" class="section">
  <div class="container">
    <div class="services-wrapper">
      <div class="services-info">
        <h3 class="services-section-name" data-lang="services.subTitle">Консультації</h3>
        <div>
          <div class="services-title-box">
            <h2 class="services-title" data-lang="services.title">Послуги</h2>
            <svg class="services-icon" width="24" height="24" aria-label="arrow-icon">
              <use href="./images/icons-sprite.svg#icon-arrow-down-right"></use>
            </svg>
          </div>
          <p class="services-text" data-lang="services.text">Пропоную професійне консультування з інвестування в золоті
            та срібні монети: допоможу вам зрозуміти ринкові тенденції та вибрати найкращі варіанти для формування та
            збільшення вартості вашого портфелю. Також надаю послуги зі створення та розширення колекцій через підтримку
            - від вибору до купівлі.</p>
        </div>
      </div>
      <div class="swiper services-swiper">
        <ul class="swiper-wrapper services-card-list">
          <li class="swiper-slide services-card-item services-first-card">
            <div class="services-card-wrapper">
              <div class="services-card-box">
                <h4 class="services-card-title" data-lang="services.cardTitleFirst">Консультування з питань інвестування
                  у золоті та срібні монети</h4>
                <ul class="services-card-hashtag-list">
                  <li class="services-card-hashtag-item" data-lang="services.hashtagInvest">#інвестування</li>
                  <li class="services-card-hashtag-item" data-lang="services.hashtagGold">#золото</li>
                  <li class="services-card-hashtag-item" data-lang="services.hashtagSilver">#срібло</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="swiper-slide services-card-item services-second-card">
            <div class="services-card-wrapper">
              <div class="services-card-box">
                <h4 class="services-card-title" data-lang="services.cardTitleSecond">Консультування з питань
                  колекціонування</h4>
                <div class="services-card-hashtag-list">
                  <p class="services-card-hashtag-item services-card-second-hashtag" data-lang="services.hashtagColect">
                    #колекціонування</p>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide services-card-item services-third-card">
            <div class="services-card-wrapper">
              <div class="services-card-box">
                <h4 class="services-card-title" data-lang="services.cardTitleThird">Формування колекцій</h4>
                <ul class="services-card-hashtag-list">
                  <li class="services-card-hashtag-item" data-lang="services.hashtagColect">#колекціонування</li>
                  <li class="services-card-hashtag-item" data-lang="services.hashtagInvest">#інвестування</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="services-pagination"></div>
      <button class="services-button" data-lang="services.button">Отримати консультацію</button>
    </div>
  </div>
</section>