<div class="team-modal-container">
  <div class="team-modal-wrapper">
    <div class="team-modal">
      <h3 class="team-modal-title" data-lang="teamModal.title">
        Команда, яка створила сайт
      </h3>
      <ul class="team-list"></ul>
      <a class="team-modal-close" title="Закрити"
        ><svg class="icon-close">
          <use
            class="icon-close"
            xlink:href="/images/icons-sprite.svg#icon-modal-close"
          ></use></svg
      ></a>
    </div>
  </div>
</div>
